<p id="notice"><%= notice %></p>

<h1>Urls</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Path</th>
      <th>Date bilobaba</th>
      <th>Last scan date</th>
      <th>Changed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td>
          <% if url.path.size > 50 %>
            <%= url.path[0..30]...url.path[url.path.size-20..url.path.size-1] %>
          <% else %>
            <%= url.path %>
          <% end %>
        </td>
        <td> <% if url.date_bilobaba %> <%= url.date_bilobaba.strftime("%d/%m/%y %H:%M") %> <% end %> </td>
        <td> <% if url.last_scan_date %> <%= url.last_scan_date.strftime("%d/%m/%y %H:%M") %> <% end %> </td>
        <td> <% if url.url_changed == 1 %>  <span style="background-color: yellow"> Oui </span>  <% else %> Non <% end %> </td>
        <td>  <%= link_to 'Show', url %>  </td>
        <td>  <%= link_to 'Edit', edit_url_path(url) %></td>
        <td>  <%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?'  } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer une surveillance', new_url_path, class: "btn btn-default"  %>
