<p id="notice"><%= notice %></p>

<h1>Urls</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Adresse du site à surveiller</th>
      <th>Date de la màj sur Bilobaba </th>
      <th>Dernier scan fait à :</th>
      <th>Le site a changé</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td>
          <% if url.path.size > 50 %>
            <%= link_to( url.path[0..30] + "..." + url.path[url.path.size-20..url.path.size-1], url.path, target: "_blank") %>
          <% else %>
            <%= link_to(url.path, url.path, target: "_blank") %>
          <% end %>
        </td>
        <td> <% if url.date_bilobaba %> <%= url.date_bilobaba.strftime("%d/%m/%y %H:%M") %> <% end %> </td>
        <td> <% if url.last_scan_date %> <%= url.last_scan_date.strftime("%d/%m/%y %H:%M") %> <% end %> </td>
        <td> <% if url.url_changed == 1 %>  <span style="background-color: yellow"> Oui </span>  <% else %> Non <% end %> </td>
        <td>  <%= link_to 'Show', url %>  </td>
        <td>  <%= link_to 'Edit', edit_url_path(url) %></td>
        <td>  <%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?'  } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer une surveillance', new_url_path, class: "btn btn-default"  %>
